.button_container {
    position: fixed;
    top: 50px; 
    right: 50px; /* Adjust as needed */
    z-index: 1000;
  }
  
  .toggle-button {
    position: relative;
    width: 50px;
    height: 50px;
    color: #FBFCD4;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
  }
  
  .open .toggle-button {
    transform: rotate(180deg); /* Rotate the button when open */
  }

.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #120d07;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.row {
  display: inline-block;
  color: #FBFCD4
}

.row h1 {
  font-size: 50px;
}
.open .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.dropdown-menu a {
  display: flex;
  margin: 5px 0;
  padding: 10px;
  text-decoration: none;
  color: #FBFCD4;
  font-size: 60px;
  transition: color 0.2s;
}

.dropdown-menu a:hover {
  color: goldenrod;
}