
.footer-container {
    position: relative;
    bottom: 0;
    height: 100%;
    padding-top: 2%;
    background-color: #151515;

}

.page-foot {
    height: 20vh;
    color: #FBFCD4;
    background-color: #151515;

}

.logo {
    position: relative;
    display: inline-block;
    width: 30%;
    padding-right: 50%;
    background-color: #151515;

}

.footer-text {
    position:relative;
    display: inline-block;
    width: 30%;
    background-color: #151515;

}

.footer-text h1 {
    display: block;
    text-align: left;
    font-size: 3;
}

.footer-text h2 {
    display: block;
    text-align: left;
    font-size: 1.5em;
}

.copyright {
    position: relative;
    margin-top: 1%;
    color: rgb(177, 177, 177);
    background-color: #151515;

}
.copyright p{
    font-size: 1em;
}